<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  id="WebApp_ID" version="3.0" metadata-complete="false">
  <display-name>webPro01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

	<!-- Book Chap05 -->
	<servlet>
	  <servlet-name>FirstServlet</servlet-name>
	  <servlet-class>pro05_Servlet01.FirstServlet</servlet-class>
	</servlet>
	  
	<servlet-mapping>  
	  <servlet-name>FirstServlet</servlet-name>
	  <url-pattern>/first.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
	  <servlet-name>SecondServlet</servlet-name>
	  <servlet-class>pro05_Servlet01.SecondServlet</servlet-class>
	</servlet>
	  
	<servlet-mapping>  
	  <servlet-name>SecondServlet</servlet-name>
	  <url-pattern>/second.do</url-pattern>
	</servlet-mapping>


	<!-- Book Chap05 -->

  <servlet>
  <servlet-name>Ex02</servlet-name>
  <servlet-class>memServletV01.MemInsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>  
  <servlet-name>Ex02</servlet-name>
  <url-pattern>/memIns.do</url-pattern>
  </servlet-mapping>

    <servlet>
  <servlet-name>Ex03</servlet-name>
  <servlet-class>memServletV01.MemUpdServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>  
  <servlet-name>Ex03</servlet-name>
  <url-pattern>/memUpd.do</url-pattern>
  </servlet-mapping>

 <servlet>
  <servlet-name>Ex04</servlet-name>
  <servlet-class>memServletV01.MemDelServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>  
  <servlet-name>Ex04</servlet-name>
  <url-pattern>/memDel.do</url-pattern>
  </servlet-mapping>

   <servlet>
  <servlet-name>Ex05</servlet-name>
  <servlet-class>memServletV01.MemLogServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>  
  <servlet-name>Ex05</servlet-name>
  <url-pattern>/memLog.do</url-pattern>
  </servlet-mapping>

     <servlet>
  <servlet-name>Ex06</servlet-name>
  <servlet-class>memServletV01.MemSelServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>  
  <servlet-name>Ex06</servlet-name>
  <url-pattern>/memSel.do</url-pattern>
  </servlet-mapping>
  
</web-app>